/* Ingresa tu css aqui */
*{
	box-sizing: border-box;
	margin:0;
	padding:0; 
}

.container{
	width:100%;
	max-width: 1200px;
	margin:0px auto;
	background: ##11CFD6;
}

.row:before, .row:after{
	content:" ";
	display:table;
}

.row:after {
	clear:both;
}

[class*="col-"]{
	min-height: 7px;
	padding: 12px;
	float: left;
}

.col-1{
	width: 8.333333%;

}
.col-2{
	width:16,666667%; 
}
.col-3 {
	width: 25%;
}
.col-4{
	width: 33.333333%;
}
.col-5{
	width: 41.666667%;
}
.col-6{
	width: 50%; 
}
.co-7{
	width:58,333333%; 
}
.col-8{
	width: 66,666667%;
}
.col-9{
	width:75%; 
}
.col-10{
	width: 83,333333%;
}
.col-11{
	width: 91,666667%; 
}
.col-12{
	width: 100%; 
}



p{
	margin: 30px 300px;
	text-align: center;
	font-family: Arial;
	font-size: 20px;
}

a {
	text-decoration:none;
	color:black;
}

img{
	color:white;
	position:relative;
	width: 100%;
}

div nav ul li{
	list-style :none;
	font-size: 28px;

}

hr{
	right: 400px;
	left: 400px;
	border-width: 2px solid red;
}
.grupal{
	width: 100%;
	margin: auto;
}
.pequeña{
	border:1px solid black;
	width: 300px;
	margin-left: 320px;
}
.raya{
	border:1px solid black;
	width: 200px;
	margin:0;
}
.coders{
	position: absolute;
	color: white;
	text-decoration: none;
	bottom: 20px;
	right:20px;
}
.foto{
	position: relative;
}
.html{
	border:1px solid #9a9aa9;
	width: 80%;
	background: #9a9aa9;
	margin:10px;
	color:white;
}
.css{
	border:1px solid #9a9aa9;
	width: 60%
	background:#9a9aa9;
	margin:10px;
	color: white;

}

.js{
	border:1px solid #9a9aa9;
	width: 40%;
	background:#9a9aa9;
	margin:10px;
	color: white;
}
p{
	text-align: center;
	margin:auto;
	font-family:Arial;
}
h1{
	text-align: center;
}
.foto{
	width: 150px;
	height: 150px;
	left: 250px;
	position: relative;
	border:1px solid white;
	border-radius: 150px;
	-webkit-border-radius:150px;
	-moz-border-radius:150px;
	background: no-repeat;
	overflow: hidden;
}
img{
	width:100%;
}